/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
 @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

h1{
  font-family: 'Zilla Slab', serif;
}


.layoutpadding{
    padding-top: 6rem;
}

.cursor-pointer{
  cursor: pointer;
}
