/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

h1{
  font-family: 'Zilla Slab', serif;
}


.layoutpadding{
    padding-top: 6rem;
}

.cursor-pointer{
  cursor: pointer;
}
