@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

.card1{
    font-family: 'Crimson Pro', serif;
    font-size: medium;
    background-color: #c1c5bb;
}
.card-body{
    font-family: 'Crimson Pro', serif;
    font-size: medium;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
}
p{
    font-family: 'Crimson Pro', serif;
    font-size: x-large;
    padding-top: 20px;
}
h2{
    padding-top: 20px;
    font-size: 40px;
    font-family: 'Zilla Slab', serif;
}
h5{
    text-align: end;
    font-family: 'Zilla Slab Highlight', serif;
}
