@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Rubik:wght@500&display=swap');

.anime {
    animation: fadeIn 5s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.container{
    padding: 20px;
}

.card1{
    border-width: 5px;
    height: 150px;
    border-color: #121212;
}

.cardhead{
    font-family: 'Rubik', sans-serif;
    color: #e74c3c;
    text-align: center;
}

.card1:hover{
    transform: scale(1.05);
    background-color: #121212;
    transition: background-color 0.3s;
}
  

  