@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border-color: black;
}
.card1{
    height: 250px;
    border-width: 5px;
    border-color: #FD7E70;
    padding: auto;
    text-align: center;
}
.card2{
    height: 250px;
    border-width: 5px;
    border-color: #FF5B49;
    padding: auto;
    text-align: center;
}

.card3{
    height: 250px;
    border-width: 5px;
    border-color: #F82008;
    padding: auto;
    text-align: center;
}
.card4{
    height: 250px;
    border-width: 5px;
    border-color: #7F0D00;
    padding: auto;
    text-align: center;
}

h1{
    font-family: 'Zilla Slab', serif;
}

.cardhead{
    font-size: 30px;
    font-family: 'Arimo', sans-serif;
}