@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.section_padding{
    padding: 0 4rem;
}

.footer{
    background-color: #121212;
}
.footer h1{
    color:white;
    text-align: center;
    padding-top: 3rem;
    font-family: 'Open Sans', sans-serif;
}

.sb_footer .section_padding{
    padding: 0 4rem;
}
.sb_footer{
    display: flex;
    flex-direction: column;
}

.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

.sb_footer-links_div{
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
}

.footer a{
    color: rgb(175, 175, 179);
    text-decoration: none;
}

.socialmedia{
    display: flex;
    flex-direction: row;
}

.socialmedia img{
    width: 80%;
}

.sb_footer-links_div h5{
    font-size: 16px;
    line-height: 17px;
    color: rgb(175, 175, 179);
}

.sb_footer-links_div p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb_footer-below-links{
    display: flex;
    flex-direction: row;
}

.sb_footer-below-links p{
    font-size: 12px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

.footer hr{
    color: white;
    width: 100%;
}

.sb_footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    .sb_footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }

    .sb_footer-links div{
        margin: 1rem 0;
    }

    .sb_footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }
    .sb_footer-below{
        flex-direction: column;
        justify-content: left;
    }
    .sb_footer-below-links{
        flex-direction: column;
    }
    .sb_footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 580px){
    .sb_footer-links_div{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
}