h1{
    font-family: 'Zilla Slab', serif;
}

.custom-width{
    width: 500px;
    min-height: 120px;
    max-width: 100%;
    border-width: 4px;
    border-color: black;
}

.custom-text{
    font-family: 'Crimson Pro', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
p{
    padding-top: 30px;
    font-size: x-large;
    font-family: 'Crimson Pro', sans-serif;
}
