.background{
    background-position: center;
    width: 500px;
    height: 500px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    max-width: 100%;
    height: auto;
}
