.slider {
    margin: auto;
    position: relative;
    max-width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
  }
  
  .slide {
    cursor: pointer;
    border: 5px solid #333;
    width: 80%;
    height: 80%;
    margin: auto;
  }
  
  .navButton {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #333;
  }
  .navButton.left{
    left: 10px;
  }
  .navButton.right{
    right: 10px;
  }
  .navButton:hover {
    color: #0070f3;
  }
