/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */
/*

a{
    text-decoration: none;
    color: rgba(34,54,69,.7 green, blue, alpha);
}

a:hover{
    color: #e74c3c;
}

ul{
    list-style-type: none;
}

.navbar{
    background: #fffbf7;
    padding: 3rem 2rem;
    min-height: 12vh;
}

.navbar .navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #e74c3c;
    white-space: initial;
}
.navbar .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}
.navbar-toggler{
    background: #e74c3c;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 2rem, 1.2rem;
    font-size: 1.4rem;
    position: relative;
    color: #121212;
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-top: 4px solid #e74c3c;
    color: #e74c3c;
}


.navbar-nav button{
    padding: 1.2rem;
}

.navbar-nav .btn{
    background-color: #e74c3c;
    color: white;
    border-radius: 0;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: 1px;
}

@media (max-width: 620px) {
    .navbar .navbar-brand{
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        color: #e74c3c; 
    }
  }
  @media (max-width: 450px) {
    .navbar .navbar-brand{
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        color: #e74c3c; 
    }
  } */
/* 
header{
    padding: 1em 0;
}

.header-07{
    background: #ede6df;
}
.header-07 a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #121212;
}
.header-07 a:hover{
    color: #e74c3c;
}
.header-07 .header-heading{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    white-space: initial;
}
.header-07 .menuup{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3%;
}

.header-07 .menuup a:hover{
    border-top: 4px solid #e74c3c;
    border-bottom: 4px solid #e74c3c;
    color: #e74c3c;
}

.header-07 .menuup a{
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
@media (max-width: 620px) {
    .header-07 .header-heading{
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        color: #121212; 
    }
  }
  @media (max-width: 450px) {
    .header-07 .header-heading{
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        color: #121212; 
    }
  } */