@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

h1{
    font-family: 'Zilla Slab', serif;
    font-size: 40px;
    flex: 1;
}

p{
    padding: 2rem;
    font-size: x-large;
    font-family: 'Crimson Pro', sans-serif;
}
.card{
    padding: 5px;
    border-width: 3px;
    border-color: black;
    margin: 5px;
    justify-content: center;
    align-items: center;
    min-height: auto;
}
.card-img-top{
    text-align: center;
    width: 450px;
    height: 600px;
    
}

.card-text{
    font-style: italic;
}

.blockquote-footer{
    padding: 0.5rem;
}